---
const { title, img, altImg, description, link, tags } = Astro.props;
---

<article class='border border-[#01EEFF] rounded-lg w-auto'>
	<img class='rounded-t-lg h-60 w-full' src={img} alt={altImg} />
	<div class='p-5'>
		<a href='#'>
			<h5 class='mb-2 text-2xl font-bold tracking-tight text-white'>
				{title}
			</h5>
		</a>
		<p class='mb-3 font-normal text-gray-400'>
			{description}
		</p>
		<ul class='flex gap-x-4 font-bold flex-row mb-4 flex-wrap'>
			{
				tags.map((tag: { name: string; icon: any; class: string }) => {
					return (
						<li>
							<span class={`${tag.class} flex gap-x-2 m-1 rounded-full text-xs py-1 px-2`}>
								<tag.icon class='size-4' />
								{tag.name}
							</span>
						</li>
					);
				})
			}
		</ul>

		<a
			href={link}
			class='inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-[#01EEFF] hover:text-gray-700'
			target='_blank'
		>
			Read more
			<svg
				class='rtl:rotate-180 w-3.5 h-3.5 ms-2'
				aria-hidden='true'
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 14 10'
			>
				<path
					stroke='currentColor'
					stroke-linecap='round'
					stroke-linejoin='round'
					stroke-width='2'
					d='M1 5h12m0 0L9 1m4 4L9 9'></path>
			</svg>
		</a>
	</div>
</article>
